.input {
    background-color: #fff;
    padding: 12px 18px;
    box-sizing: border-box;
    height: 51px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border-radius: 16px;
    outline: none;
    border: none;
    transition: opacity 0.3s;
}
.input:hover {
    opacity: 0.75;
}
