.button {
    color: #fff;
    padding: 12px 36px;
    box-sizing: border-box;
    height: 51px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background-color: #3e2a9f;
    transition: opacity 0.3s;
}
.button:disabled {
    background: #ccc;
    color: #333;
    opacity: 0.5;
}
.button:not(:disabled):hover {
    opacity: 0.5;
    cursor: pointer;
}