.country__tools {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 0 0 36px;
}
.country__tools-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
}
.country__info {
    margin-bottom: 36px;
}
.country__questions {
    color: #333;
}
.country__add-question {
    padding: 24px;
    background-color: #edf0f7;
    color: #333;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.country__empty {
    text-align: center;
    margin: 24px 0;
}
.country__back {
    text-align: center;
}
.country__back a {
    color: #fff;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
}
.country__back a:hover {
    opacity: 0.5;
}
.country__list-title {
    margin-top: 0;
}
.country__name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.country__name-flag {
    margin-right: 12px;
}
.back-icon {
    display: inline-block;
    width: 18px;
    margin-right: 12px;
}
.back-icon svg {
    display: block;
    fill: #fff;
}
