.base-template {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #3e2a9f;
    color: #fff;
    min-height: 100%;
}
.base-template__header {
    position: relative;
    z-index: 2;
}
.base-template__content-wrapper {
    position: relative;
    z-index: 2;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    flex: 1;
}
.base-template__content {
    padding: 24px;
}
.base-template__icon {
    width: 600px;
    position: absolute;
    z-index: 1;
    top: -100px;
    left: -100px;
    fill: rgba(255, 255, 255, 0.1);
}
