.navBar {
    padding: 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.auth {
    padding: 12px 24px 14px;
    margin: 0 12px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.auth__link {
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: border-color 0.3s;
    font-weight: 400;
    cursor: pointer;
}
.auth__link:hover {
    border-color: transparent;
}
.auth__user {
    font-size: 14px;
    margin-right: 12px;
}
