.answer {
    position: relative;
    padding: 12px;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 12px;
    font-size: 12px;
}
.answer-author {
    display: flex;
    margin-bottom: 12px;
    font-weight: 600;
}
.answer-date {
    opacity: 0.5;
}
.answer-author-avatar {
    margin-right: 12px;
}
.answer-delete {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 18px;
    fill: red;
    cursor: pointer;
}
